:root{
    --Tint-blue: #1C1E53;
    --Dark-blue: #282938;
    --Royal-blue: #2405F2;
    --Yellow: #FCD980;
    --Grey: #F4F6FC;
    --nav-items: #BBBBCB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

h1,h2,h3,h5{
    color: var(--Dark-blue);
}

h1,h2,h3,h6{
    font-weight: 600;
}

h1{
    font-size: 3.375rem;
    line-height: 4.625rem;
}

h2{
    font-size: 3rem;
    line-height: 4rem
}
h3{
    font-size: 2.375rem;
    line-height: 3.5rem;
}

h5{
    font-size: 2rem;
    font-weight: 500;   
    line-height: 3rem;
}

h6{
    font-size: 1.5rem;
    line-height: 2.25rem;
}

p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: var(--Dark-blue);
}

.container{
    width: 80%;
    margin: 0 auto;
}

.img-fluid{
    width: 100%;
    height: auto
}

.text-center{
    text-align: center;
}

.primary-btn{
    font-family: 'Manrope', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 2rem;
    border-radius: 2.5625rem;
    color: black;
    background-color: var(--Yellow);
}

.head-component{
    display: flex;
    flex-direction: column;
    color: var(--Dark-blue);
}

.head-component p{
    margin: 1rem 0;
    opacity: 0.7;
}

.head-component a{
    display: flex;
    gap: 1rem;
    font-weight: 500;
}

.white-arrow{
    color: white;
}

.white-arrow::after{
    content: " ";
    width: 1.5rem;
    padding: 0.5rem 0;
    background-image: url("../assets/arrow-white.svg");
    background-repeat: no-repeat;
    background-position: center;
}


.blue-arrow{
    color: var(--Royal-blue);
}

.blue-arrow::after{
    content: " ";
    width: 1.5rem;
    padding: 0.5rem 0;
    background-image: url("../assets/arrow-blue.svg");
    background-repeat: no-repeat;
    background-position: center;
}


.black-arrow{
    color: var(--Dark-blue);
}

.black-arrow::after{
    content: " ";
    width: 1.5rem;
    padding: 0.5rem 0;
    background-image: url("../assets/arrow-black.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.yellow-arrow{
    color: var(--Yellow);
}

.yellow-arrow::after{
    content: " ";
    width: 1.5rem;
    padding: 0.5rem 0;
    background-image: url("../assets/arrow-yellow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

/* Header ==>START */
.start-header{
    background-color: var(--Tint-blue);
}

/* Nav-bar ==>START */
.nav-bar{
    padding: 1rem 0;
    color: white;
}

.nav-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .nav-bar__actions{
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1rem;
    font-weight: 500;   
    line-height: 1.75rem;
}

.nav-bar .nav-list{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-bar .nav-list .nav-item{
    color: var(--nav-items);
}

.nav-bar .nav-list .nav-item:hover{
    color: white;
}

.nav-bar .active{
    color: white !important; 
}

.nav-bar .contact-btn{
    padding: 1rem 3rem;
    border: 2px solid rgba(244, 246, 252, 0.20);
    border-radius: 2.5625rem;
}

.nav-bar .menu-btn{
    display: none;
}

/* Nav-bar ==>END */

/* Hero Section ==>START */
.hero-section{
    padding: 7.87rem 0 8rem;
    color: white;
}

.hero-section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-section .hero-details{
    display: flex;
    flex-direction: column;
}

.hero-details .hero-title{
    color: white;
    margin-bottom: 1.5rem;
}

.hero-details .hero-description{
    margin-bottom: 3rem;
    color: white;
    opacity: 0.7;
}

.hero-section__btns{
    display: flex;
    gap: 2.5rem;
}

.hero-details .btn{
    padding: 1rem 3.5rem;;
}

.hero-section__btns .pricing-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

/* Hero Section ==>END */
/* Header ==>END */

/* Main ==>START */
/* How We Work Section ==>START*/
.howWeWork-section{
    padding: 8rem 0;
    background-color: var(--Grey);
}

.howWeWork-section .container{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.howWeWork-section .head-component{
    flex-basis: 30%;
}

.howWeWork-section .work-box-holder{
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.work-box-holder .work-box-item{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.work-box-holder .work-box-item .number{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.5rem;
    background-color: var(--Royal-blue);
}

.work-box-holder .work-box-item .number p{
    padding: 0.56rem 1.06rem 0.56rem 0.94rem;
    margin: auto;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 2rem;
    color: white;
    background-image: url("../assets/box-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.work-box-holder .work-box-item h5{
    margin: 0.75rem 0;
}

.work-box-holder .work-box-item .work-box-item__body{
    color: var(--Dark-blue);
    opacity: 0.7;
}

/* How We Work Section ==>END*/
/* Our Projects Section ==>START  */
.ourProjects-section{
    padding: 8rem 0;
}

.ourProjects__header{
    display: flex;
    justify-content: space-between;
}

.ourProjects__header a{
    font-size: 1rem;
    line-height: 1.75rem;
}

.ourProjects-section .projects-container{
    margin-top: 4rem;
    height: 37.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.ourProjects-section .project-item-1{
    position: relative;
    width: 52.6875rem;
    height: 37.5rem;
    display: flex;
    align-items: end;
    background-image: url("../assets/project-1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ourProjects-section .project-item-1 .head-component{
    padding: 0 0 4.75rem 3rem;
    width: 42%;
    color: white;
    z-index: 1;
}

.ourProjects-section .project-item-1 .head-component p{
    margin: 1rem 0 2.5rem;
}

.ourProjects-section .project-item-1::after{
    content: " ";
    position: absolute;
    width: 47%;
    height: 100%;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
}

.ourProjects-section .projects-container .small-project{
    width: 25.3125rem;
    height: 17.75rem;
}

.ourProjects-section .projects-container .project-item-2{
    display: flex;
    align-items: end;
    position: relative;
    background-image: url("../assets/project-2.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ourProjects-section .project-item-2 .head-component{
    padding: 0 0 2.81rem 3.5rem;
    width: 70%;
    gap: 0.62rem;
    color: white;
    z-index: 2;
}

.ourProjects-section .project-item-2::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
}

.ourProjects-section .projects-container .project-item-3{
    background-image: url("../assets/project-3.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* Our Projects Section==>END  */
/* Features Section ==>START */
.features-section{
    padding: 8rem 0;
    background-color: var(--Grey);
}

.features-section .features__header{
    width: 50%;
    margin: 0 auto;
}

.features-section .features__header p{
    font-weight: 500;
    opacity: 1;
    margin: 0 0 0.75rem;
}

/* Features Section ==>END */
/* Main ==>START */





@media (max-width:1920px){
    :root{
        font-size: 16px;
    }

    /* Hero Section */
    .hero-section .hero-details{
        flex-basis: 40%;
    }
    
    .hero-section .hero-img{
        flex-basis: 50%;
    }

    /* Our Projects Section ==>START  */
    .ourProjects__header{
        flex-direction: row;
        align-items: center;
    }
    /* Our Projects Section ==>END  */

}

@media (max-width:1024px){
    /* :root{
        font-size: 14px;
    } */
    /* navbar */
    .nav-bar .menu-btn{
        display: block;
    }
    .nav-bar .nav-bar__actions{
        display: none;
    }

    /* Hero Section ==>START */
    .hero-section .container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-section .hero-details{
        padding-bottom: 8rem;
    }

    .hero-section .hero-details{
        flex-basis: 100%;
    }

    .hero-section__btns{
        justify-content: center;
    }
    
    .hero-section .hero-img{
        flex-basis: 100%;
    }
    /* Hero Section ==>END */
    /* How We Work Section ==>START*/
    .howWeWork-section .container{
        flex-direction: column;
        align-items: center;
    }

    .howWeWork-section .head-component{
        flex-basis: 100%;
        margin-bottom: 8rem;
        align-items: center;
        text-align: center;
    }

    .howWeWork-section .work-box-holder{
        flex-basis: 100%;
    }

    .howWeWork-section .work-box-holder{
        flex-direction: column;
        align-items: center;
    }
    .work-box-holder .work-box-item{
        align-items: center;
        text-align: center;
    }
    /* How We Work Section ==>END*/
    /* Our Projects Section ==>START  */
    .ourProjects__header{
        flex-direction: column;
        gap: 1rem;
    }

    .ourProjects-section .projects-container{
        height: fit-content;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    .ourProjects-section .projects-container .project-item-1{
        width: 100%;
    }
    /* Our Projects Section ==>END  */

}


@media (max-width:510px){
    :root{
        font-size: 12px;
    } 
    .hero-section__btns{
        flex-direction: column;
        align-items: center;
    }
}